<html>

<head>
    <title>Vue + Vuetify + backend Example Extension</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
    .v-card {
        padding: 20px;
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }
</style>

<div id="app">
  <v-app>
      <v-main>
          <v-container>
              <v-row>
                  <v-card>
                      <v-card-title>
                          Servers
                      </v-card-title>
                      <v-card-text>
                          <v-list v-for="(item, index) in items" :key="index">
                              <v-list-item>
                                  <v-text-field v-model="item.name" label="Name"></v-text-field>
                                  <v-text-field v-model="item.url" label="URL"></v-text-field>
                                  <v-btn href="potato"> Open </v-btn>
                                  <v-checkbox v-model="item.sidebar" label="Show in sidebar"></v-checkbox>
                              </v-list-item>
                          </v-list>
                      </v-card-text>
                      <v-card-actions>
                        <v-btn outlined rounded text @click="addItem()">
                            Add
                        </v-btn>
                        <v-btn outlined rounded text @click="saveItemsToBackend()">
                            Save
                        </v-btn>
                  </v-card>
              </v-row>
          </v-container>
      </v-main>
  </v-app>
</div>

<script src="/js/vue.js"></script>
<script src="/js/vuetify.js"></script>
<script src="/js/axios.min.js"></script>

<script>
  Vue.config.devtools = true;
  new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
              items: [],
          }
      },
      methods: {
        addItem() {
            this.items.push({ name: '', url: '', sidebar: false });
        },
          async loadItemsFromBackend() {
              axios.get("/v1.0/load").then(response => {
                  // use vue.set to make sure the data is reactive
                  this.$set(this, 'items', response.data);
              })
          },
          async saveItemsToBackend() {
              axios.post('/v1.0/save', {
                  data: this.items,
              })
          }
      },
      mounted() {
          this.loadItemsFromBackend()
      }
  })
</script>
</html>