<html>

<head>
  <title>BlueOS Proxy Extension</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<style>
  .v-card {
    padding: 20px;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
</style>

<div id="app">
  <v-app>
    <v-main>
      <v-container>
        <v-row>
          <v-card>
            <v-card-title>
              BluOS Proxying Extension
            </v-card-title>
            <v-card-text>
              This extension allows you to use your BlueOS device as a proxy. this is useful if you need to access a UI on a network that is not accessible from your display device, but is from the BlueOS backend.
              Click "Add" to add a new item, and "Save" to save the items.
              <v-card v-if="items.length" class="d-flex flex-row">
                <v-list v-for="(item, index) in items" :key="index">
                  <v-list-item>
                    <v-card style="min-width: 300px;">
                      <v-btn :disabled="!item.saved" color="primary" :href="'http://' + hostname + ':' + (11000 + index)"
                        target="_blank"> Open </v-btn>
                      <v-text-field v-model="item.name" label="Name"></v-text-field>
                      <v-text-field @blur="validateUrls()" v-model="item.url" label="URL"></v-text-field>
                      <v-checkbox v-model="item.sidebar" label="Show in sidebar"></v-checkbox>
                      <v-btn color="red" @click="removeItem(index)">Remove</v-btn>
                      <v-btn :disabled="validItems.length < items.length" color="primary" @click="saveItemsToBackend()">
                        Save
                      </v-btn>
                    </v-card>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" rounded @click="addItem()">
                Add new entry
              </v-btn>
          </v-card>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>

<script src="/js/vue.js"></script>
<script src="/js/vuetify.js"></script>
<script src="/js/axios.min.js"></script>

<script>
  Vue.config.devtools = true;
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data() {
      return {
        items: [],
      }
    },
    methods: {
      async removeItem(index) {
        this.items.splice(index, 1);
        await this.saveItemsToBackend()
      },
      addItem() {
        this.items.push({ name: '', url: '', sidebar: false });
      },
      validateUrls() {
        for (let item of this.items) {
          if (!item.url.startsWith('http://') && !item.url.startsWith('https://') && item.url.length > 0) {
            this.$set(item, 'url', 'http://' + item.url);
          }
        }
      },

      async loadItemsFromBackend() {
        axios.get("/v1.0/load").then(response => {
          // use vue.set to make sure the data is reactive
          if (!response.data.data)
            this.$set(this, 'items', []);
          else {
            // use vue.set to make sure the data is reactive
            // (otherwise the data will not be updated in the view
            const items = response.data.data.map(item => {
              item.saved = true;
              return item;
            });
            this.$set(this, 'items', items);
          }
        })
      },
      async saveItemsToBackend() {
        axios.post('/v1.0/save',
          { data: this.validItems },
        )
        await this.loadItemsFromBackend()
      }
    },
    computed: {
      hostname() {
        return (typeof window !== 'undefined' && window.location) ? window.location.hostname : 'localhost';
      },
      validItems() {
        return this.items.filter(item => item.name && item.url);
      }
    },
    mounted() {
      this.loadItemsFromBackend()
    }
  })
</script>

</html>
